#main {
    width: 100%;
}

.logout {
    display: none;
    position: absolute;
    top: 15px;
    right: 15px;

    .logoutIcon {
        width: 42px;
        height: 42px;
    }
}

.logoutIcon {
    width: 70px;
    height: 60px;
}


h1 {
    margin: 5px auto;
    text-align: center;
    font-family: 'ProximaNova-Bold', serif;
    font-size: 16px;
}

.row1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.row2 {
    display: grid;
    grid-template-columns: 1fr 74px;
    grid-template-rows: auto auto;
    gap: 1em;
}

.topMenu {
      grid-column: 1 / -1;
}

.table {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 1em;
    align-items: start;
}

.topMenu {
    justify-self: end;
    flex-direction: row-reverse;
}

@media (max-width: 1600px) {
    .table {
        grid-template-columns: repeat(5, 1fr);
    }
}

@media (max-width: 1400px) {
    .table {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 1200px) {
    .table {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 900px) {
    .table {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 620px) {
    .table {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 400px) {
    .row2 {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
}
