@import '../../styles/theme.css';

.process {
    text-align: center;
    height: 20px;
    font-size: 12pt;
    width: 95%;
    padding: 0 10px;
}

.timePicker {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-color: var(--color-1);
    background-color: var(--main-color);
    color: var(--color-1);
}

.ant-picker-input > input {
    color: var(--color-1);
}

.timePicker:hover {
    border-color: var(--color-1);
}

.timerPanel {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.setTimerPanel {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 7px;
    margin-top: 10px;
}

.setTimerPanel :is(input, select) {
    height: 30px;
}

.timerPanel p {
    text-align: left;
    width: 100%;
    word-break: break-all;
}

.timerButtons {
    display: flex;
    justify-content: space-around;
}

.timerButtonsSmall {
    justify-content: space-around;
    display: none;
}

@media (max-width: 480px) {
    .timerButtons {
        display: none;
    }

    .timerButtonsSmall {
        display: flex;

        button {
            border: revert;
        }
    }
}

.time {
    font-family: 'ProximaNova-Regular';
    text-align: left;
    margin: 0;
    width: 100%;
    display: inline-block;
}

.formRow {
    display: flex;
    gap: 10px;
    align-items: center;

    span {
        flex-grow: 1;
    }

    select {
        width: 70%;
    }

    input {
        width: 50%;
    }
}

.delete {
    position: absolute;
    align-self: flex-end;
    background-color: transparent;
    right: 0;
    border-radius: 5px;
    font-size: 16pt;
    box-shadow: none;
    border: none;
    outline: none;
    width: 25px;
    cursor: pointer;
    margin: 0 5px 0 0;
}
