@layer theme {
    :root {
          color-scheme: light dark;
          --main-color: light-dark(transparent, black);
          --color-1: light-dark(black, red);
          --color-2: light-dark(white, black);
          --color-3: light-dark(gray, red);
          --shadowColor: 0 0 10px light-dark(rgb(0  0  0 / 0.5), rgb(255  0  0 / 0.5));
    }

    @media (prefers-color-scheme: dark) {
        :root {
            color-scheme: dark;
        }
    }

    [data-theme='dark'] {
          color-scheme: dark;
    }

    [data-theme='light'] {
          color-scheme: light;
    }
}