.panel {
    display: flex;
    flex-direction: column;
    border: 2px solid var(--color-1);
    border-radius: 10px;
    padding: 5px;
    width: 60px;
    height: 192px;
    justify-content: space-around;
    align-items: center;
    justify-self: end;
}

@media (max-width: 400px) {
    .panel {
        display: none;
    }
}
