.time {
    display: inline-block;
    font-size: 50px;
    margin: auto 5px;
    font-family: 'ProximaNova-Bold';
}

.clock {
    display: flex;
    justify-content: flex-start;
    user-select: none;
    cursor: default;
    align-items: center;
}

@media screen and (max-width: 400px) {
    .clock {
        font-size: 20px;
    }

    .time {
        font-size: 20px;
    }

    .timeIcon {
        width: 32px;
        height: 32px;
    }
}