.time {
    display: flex;
    font-size: 50px;
    font-family: 'ProximaNova-Bold', serif;
    align-items: center;
}

.clock {
    display: flex;
    margin: 3px 0 3px 0;
    justify-content: flex-start;
    user-select: none;
    cursor: default;
}

@media screen and (max-width: 400px) {
    .clock {
        font-size: 30px;
    }

    .time {
        font-size: 30px;
    }

    .timeIcon {
        width: 32px;
        height: 32px;
    }
}